<div class="grid-container">
  <mat-card class="home-main">

    <div class="home-main-text">
      <h1>WELCOME TO PREMIER LEAGUE MANAGER!</h1>
    </div>
    <div class="home-img-container-top">
      <div class="home-page-images">
        <img src="assets/images/svg/Cup.svg" alt="cup">
      </div>
      <div class="home-page-images">
        <img src="assets/images/svg/Red%20Card.svg" alt="red">
      </div>
      <div class="home-page-images">
        <img src="assets/images/svg/Game%20Start.svg" alt="game">
      </div>
      <div class="home-page-images">
        <img src="assets/images/svg/Livello%2010.svg" alt="level">
      </div>
      <div class="home-page-images">
        <img src="assets/images/svg/Penalty%20Kick.svg" alt="penalty">
      </div>
      <div class="home-page-images">
        <img src="assets/images/svg/Player.svg" alt="player">
      </div>
      <div class="home-page-images">
        <img src="assets/images/svg/Foul.svg" alt="foul">
      </div>
      <div class="home-page-images">
        <img src="assets/images/svg/Kick.svg" alt="kick">
      </div>
    </div>
    <div class="home-img-container">
      <div class="home-page-images">
        <img src="assets/images/svg/Cup.svg" alt="cup">
      </div>
      <div class="home-page-images">
        <img src="assets/images/svg/Corner.svg" alt="corner">
      </div>
      <div class="home-page-images">
        <img src="assets/images/svg/Game%20Start.svg" alt="game">
      </div>
      <div class="home-page-images">
        <img src="assets/images/svg/Yellow%20Card.svg" alt="yellow">
      </div>
      <div class="home-page-images">
        <img src="assets/images/svg/Penalty%20Kick.svg" alt="penalty">
      </div>
      <div class="home-page-images">
        <img src="assets/images/svg/Player.svg" alt="player">
      </div>
      <div class="home-page-images">
        <img src="assets/images/svg/Foul.svg" alt="foul">
      </div>
      <div class="home-page-images">
        <img src="assets/images/svg/Kick.svg" alt="kick">
      </div>
    </div>

  </mat-card>
</div>
